@{
    ViewData["Title"] = "About Us";
}
<body>
    <h1>Completely Adequette Game Studios</h1>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">

            <h1 class="display-5 fw-bold col-md-auto">About Us</h1>

            <p class="col-md-auto fs-4 fw-bold">
                CAC game studios will provide engaging, story and choice-driven, turn-based RPGs developed by
                both in-house developers and third-party game developers. Players will have the opportunity to take on
                interesting quests and have several ways to go about solving them. They will have the ability to build
                their own starship, settlement, or kingdom, depending on the genre of the game. These games will be
                designed with customer retention in mind. Prioritizing user demands and feedback as the main
                inspiration for future updates. Our Game titles are supplied by various authors. This provides the
                consumer with a variety of content. Released titles will receive consistent patches and have a roadmap
                for future updates and content releases. In addition to tailoring our games based on the feedback of our
                players, we also intend to offer promotional deals on our various titles all year long. These promotional
                deals can range from as low as 5% off to upwards of 80% off on seasonal and holiday sales. Users
                subscribed to CAC’s Membership program will be offered exclusive deals along with ad-free features, as
                well as exclusive in-game bonuses.
            </p>

        </div>
    </div>


    <h1 class="display-5 fw-bold col-md-auto">Founders</h1>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">

            <h1 class="display-5 fw-bold col-md-auto">Our Mission</h1>

            <p class="col-md-auto fs-4 fw-bold">
                CAC Game Studio’s goal is to provide top-of-the-line, industry-level gameplay
                experience for all players to enjoy. Whether you want to play with friends or simply escape in your own
                world, CAC aims to set the standard for the gaming industry.
            </p>

        </div>
    </div>
</body>