@{
    ViewData["Title"] = "FAQ";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to the CAC FAQ Page!</h1>
        <p style="color:black;font-size:20px;">Hello valued CAC enthusiast! This page is intended to be your to go-to source for any questions regarding our Completely Adequate Creations!</p>
        <p>
            <b>Q1. Why the name Complete Adequate Creations, or CAC?</b>
        </p>
        <p>
            <u>The company was named after the first letter in the first name of each of our founders, who can be found in our "About Us page."</u>
        </p>
        <p>
            <b>Q2. Was your game Kick Cacs inspired by the food item Tic Tacs? </b>
        </p>
        <p>
            <u>Yes.</u>
        </p>
        <p>
            <b>Q3. I'd like to get in touch with in touch with your Board of Directors to become an investor or partner.</b>
        </p>
        <p>
            <u>Please get in touch with us at OfficialCACGameStudios@CAC.com</u>
        </p>
        <p>
            <b>Q4. Are your games amazing?</b>
        </p>
        <p>
            <u>We believe in humility here at CACGameStudios, but we are proud to say every one of our games are completely adequate. </u>
        </p>
        <p>
            <b>Q5. Are all of your product thumbnails hand drawn directly by CAC Game Studios?</b>
        </p>
        <p>
            <u>Yes. All Arts, Logos, and Product Thumbails used by CACGameStudios are &#169;2022 Aaron J. Goldstein All Rights Reserved.</u>
        </p>
    </div>

